<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8"">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap">
    <style>
      body {
        font-family: 'Cormorant Garamond', serif;
        font-size: 48px;
      }
    </style>
  </head>
<body>
<div id="container" align="center">
  <div class="main">
    <br>
    <br>
    <heading>Book it to the Library</heading>
    <br>
    <br>
    <mainheading>A Book Recommendation App</mainheading>
    <br>
    <br>
    <text> To get started, choose a genre! </text>
    <hr style="width:40%">
    <form class=inputs method=post name=userinput action="{{ url_for('add_genre')}}">
    <p>
      <div align="center" >
        <select name="genre" id="genre" class="form-control unstyled">
            <option>
                Genre
            </option>
	    <option value="Chick-lit" >Chick-lit</option>
	    <option value="Humor" >Humor</option>
        </select>
      </div>
      <p align="center">
        <button type="submit" style="color:black;" > Next </button> 
        </p>
      </form>
      
    </div>
</div>
</body>
</html>
